# PyCaret 2 Regression Example
This notebook is created using PyCaret 2.0. Last updated : 31-07-2020

In [1]:
# check version
from pycaret.utils import version
version()

'2.3.5'

# 1. Loading Dataset

In [2]:
from library.common import Core
core = Core()

data = core.get_cluster_regression_datas(cluster = 'Global', first = 1970, last = 2019)

# 2. Initialize Setup

In [3]:
from pycaret.regression import *
reg1 = setup(data, target = 'co2', session_id=123, log_experiment=True,
             normalize = True, normalize_method = 'minmax',
             remove_outliers = False, outliers_threshold = 0.05,
             experiment_name='carbon emission')

# 3. Compare Baseline

In [4]:
best_model = compare_models(fold=5)

# 4. Create Model

In [5]:
model = create_model('et')

In [6]:
import numpy as np
# model = [create_model('et') for i in np.arange(0.1,1,0.1)]

In [7]:
print(len(model))

100

# 5. Tune Hyperparameters

In [8]:
tuned_model = tune_model(model, n_iter=50, optimize = 'MSE')

In [9]:
tuned_model

ExtraTreesRegressor(bootstrap=False, ccp_alpha=0.0, criterion='mae',
                    max_depth=8, max_features=1.0, max_leaf_nodes=None,
                    max_samples=None, min_impurity_decrease=0.005,
                    min_impurity_split=None, min_samples_leaf=3,
                    min_samples_split=7, min_weight_fraction_leaf=0.0,
                    n_estimators=180, n_jobs=-1, oob_score=False,
                    random_state=123, verbose=0, warm_start=False)

# 6. Ensemble Model

In [10]:
dt = create_model('dt')

In [11]:
bagged_dt = ensemble_model(dt, n_estimators=50)

In [12]:
boosted_dt = ensemble_model(dt, method = 'Boosting')

# 7. Blend Models

In [13]:
blender = blend_models()

TypeError: blend_models() missing 1 required positional argument: 'estimator_list'

# 8. Stack Models

In [ ]:
stacker = stack_models(estimator_list = compare_models(n_select=5, fold = 5, whitelist = models(type='ensemble').index.tolist()))

# 9. Analyze Model

In [ ]:
plot_model(dt)

In [ ]:
plot_model(dt, plot = 'error')

In [ ]:
plot_model(dt, plot = 'feature')

In [ ]:
evaluate_model(dt)

# 10. Interpret Model

In [ ]:
interpret_model(lightgbm)

In [ ]:
interpret_model(lightgbm, plot = 'correlation')

In [ ]:
interpret_model(lightgbm, plot = 'reason', observation = 12)

# 11. AutoML()

In [ ]:
best = automl(optimize = 'MAE')
best

# 12. Predict Model

In [ ]:
pred_holdouts = predict_model(lightgbm)
pred_holdouts.head()

In [ ]:
new_data = data.copy()
new_data.drop(['charges'], axis=1, inplace=True)
predict_new = predict_model(best, data=new_data)
predict_new.head()

# 13. Save / Load Model

In [ ]:
save_model(best, model_name='best-model')

In [ ]:
loaded_bestmodel = load_model('best-model')
print(loaded_bestmodel)

In [ ]:
from sklearn import set_config
set_config(display='diagram')
loaded_bestmodel[0]

In [ ]:
from sklearn import set_config
set_config(display='text')

# 14. Deploy Model

In [ ]:
deploy_model(best, model_name = 'best-aws', authentication = {'bucket' : 'pycaret-test'})

# 15. Get Config / Set Config

In [ ]:
X_train = get_config('X_train')
X_train.head()

In [ ]:
get_config('seed')

In [ ]:
from pycaret.regression import set_config
set_config('seed', 999)

In [ ]:
get_config('seed')

# 16. MLFlow UI

In [ ]:
!mlflow ui

# End
Thank you. For more information / tutorials on PyCaret, please visit https://www.pycaret.org